<div class="title-container col-8">
  <h2>Juego seleccionado: {{game?.name}}</h2>
</div>

<div class="game-container col-8 card">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action">
      <span>Id: </span>{{game?.id}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span>Nombre: </span>{{game?.name}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span>Precio: </span>$ {{game?.price}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span>Género: </span>{{game?.genre?.name}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span>Tipo de Juego: </span>{{game?.gameType}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span>Procesador: </span>{{game?.cpuRequirements?.processor}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span>Almacenamiento: </span>{{game?.cpuRequirements?.storage}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span>Memoria: </span>{{game?.cpuRequirements?.memory}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span style="display: block;">Imagen: </span>  
      <img src="../../../../../assets/img/{{game?.image}}.PNG" alt="{{game?.name}}" style="width: 50%;margin: 30px;border-radius: 5px;">
    </li>
  </ul>
</div>
<div class="edit-container col-8">
  <button class="redirect" routerLink="/juegos" style="margin-top: 10px;"> Ir a listado de juegos</button>
  <button class="edit" routerLink="/juegos/{{ game?.id }}/modificar"> Editar juego</button>
</div>