.create-game-container{
  padding: 10px;
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .4);
}
label{
  font-weight: bold;
  width: 100%;
  margin: 10px 0 10px 0;
}
input{
  width: 100%;
  border-radius: 5px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, .175);
  padding: 8px;
}

#gameForm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titulo-form {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.seccion-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}