<div class="title-container col-8">
  <h2>Listado de juegos:</h2>
</div>

<div class="game-container card col-8" style="margin: auto;">
  <div class="list-group" *ngIf="(gameArray$ | async)?.length else Nogames">
    <div appHighLigth style="cursor: pointer;" *ngFor="let game of gameArray$ | async"
      class="list-group-item list-group-item-action">
      <div class="card" [routerLink]="[game.id]" style="align-items: center;text-align: center;">
        <img src="../../../../../assets/img/{{game.image}}.PNG" alt="{{game.name}}" style="width: 50%;margin: 30px;border-radius: 5px;">
        <div class="container">
          <h4><b>{{game.name}}</b></h4>
          <p>${{game.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buttons-container col-8">
  <button routerLink="/juegos/crear"> Ir a crear juego</button>
  <button class="redirect" routerLink="/home"> Ir a home</button>
</div>

<ng-template #Nogames>
  <span class="badge badge-primary">Aún no hay juegos</span>
</ng-template>