<div class="title-container col-8">
  <h2>Listado de juegos:</h2>
  <button routerLink="/juegos/crear"> Ir a crear juego</button>
  <button class="redirect" routerLink="/home"> Ir a home</button>
</div>

<div class="game-container card col-8" style="margin: auto;">
  <ul class="list-group" *ngIf="(gameArray$ | async)?.length else Nogames">
    <li appHighLigth style="cursor: pointer;" *ngFor="let game of gameArray$ | async"
      class="list-group-item list-group-item-action">
      <div class="card" [routerLink]="[game.id]" style="align-items: center;text-align: center;">
        <!-- <img src="./img/{{game.image}}.PNG" alt="{{game.name}}"> -->
        <img
          width="50%"
          alt="img ejemplo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
        <div class="container">
          <h4><b>{{game.name}}</b></h4>
          <p>${{game.price}}</p>
        </div>
      </div>

      <!-- <div [routerLink]="[game.id]">
        <span class="id">{{game.id}}</span>
        <span style="margin-left: 5px;">
          {{game.name}} - ${{game.price}} {{game.genre['id']}} {{game.genre['name']}} - {{game.gameType}} - {{game.cpuRequirements['processor']}} - {{game.cpuRequirements['storage']}} - {{game.cpuRequirements['memory']}}
        </span>
      </div> -->

    </li>
  </ul>
</div>

<ng-template #Nogames>
  <span class="badge badge-primary">Aún no hay juegos</span>
</ng-template>