<div class="title-container col-8">
  <h2>Listado de juegos:</h2>
  <button routerLink="/juegos/crear"> Ir a crear juego</button>
  <button class="redirect" routerLink="/home"> Ir a home</button>
</div>

<div class="game-container card col-8" style="margin: auto;">
  <ul class="list-group" *ngIf="(gameArray$ | async)?.length else Nogames">
    <li appHighLigth style="cursor: pointer;" *ngFor="let game of gameArray$ | async"
      class="list-group-item list-group-item-action">
      <div [routerLink]="[game.id]">
        <span class="id">{{game.id}}</span>
        <span style="margin-left: 5px;">
          {{game.name}} - ${{game.price}} {{game.genre['id']}} {{game.genre['name']}} - {{game.gameType}} - {{game.cpuRequirements['processor']}} - {{game.cpuRequirements['storage']}} - {{game.cpuRequirements['memory']}}
        </span>
      </div>

    </li>
  </ul>
</div>

<ng-template #Nogames>
  <span class="badge badge-primary">Aún no hay juegos</span>
</ng-template>