<div class="title-container col-8">
  <h2>Listado de géneros:</h2>
</div>

<div class="game-container card col-8" style="margin: auto;">
  <div class="list-group" *ngIf="generoArray.length >= 1 else NoGenero">
    <div appHighLigth style="cursor: pointer;" *ngFor="let genero of generoArray"
      class="list-group-item list-group-item-action">
      <div class="card" [routerLink]="[genero.id]" style="align-items: center;text-align: center;">
        <div class="container">
          <h4><b>{{genero.name}}</b></h4>
          <p>Edad mínima: {{genero.minimumAge}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buttons-container col-8">
  <button class="redirect" routerLink="/home"> Ir a home</button>
</div>

<ng-template #NoGenero>
  <span class="badge badge-primary">Aún no hay generos</span>
</ng-template>