h2 {
  margin: 20px 0 20px 0;
}
span {
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.title-container,
.edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: auto;
}
button.redirect {
  height: max-content;
  background-color: #5527FF;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
button.edit {
  margin-left: auto;
  height: max-content;
  background-color: #F149B7;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.game-container {
  padding: 10px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.buttons-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 15px;
}