<div class="title-container col-8">
  <h2>Género: {{genero?.name}}</h2>
</div>

<div class="game-container col-8 card">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action">
      <span>Id: </span>{{genero?.id}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span>Nombre: </span>{{genero?.name}}
    </li>
    <li class="list-group-item list-group-item-action">
      <span>Edad mínima: </span>{{genero?.minimumAge}}
    </li>
    <!-- <li class="list-group-item list-group-item-action">
      <span>Juego: </span>
      <ng-container *ngFor="let game of genero?.relatedGames">
        Id: {{game.gameId}}
      </ng-container>

    </li> -->
    <li class="list-group-item list-group-item-action">
      <span>Información de juegos relacionados: </span>
      <br>
      <ng-container *ngFor="let game of games">
        <div style="display: flex;">
          <img src="../../../../../assets/img/{{game?.image}}.PNG" alt="{{game?.name}}" style="width: 50%;margin: 30px;border-radius: 5px;">
          <div style="align-self: center;">
            <span>{{game.name}}</span>
            <span> - ${{game.price}}</span>
            <span> - {{game.gameType}}</span>
          </div>
        </div>
      </ng-container>

    </li>

  </ul>
</div>

<div class="buttons-container col-8">
  <button class="redirect" routerLink="/generos"> Ir a listado de géneros</button>
</div>