<p>games-form works!</p>

<div class="create-game-container card col-8">
    <!-- game-form.component.html -->
    <div class="titulo-form">Formulario:</div>

    <form [formGroup]="gameForm" id="gameForm" class="col-9" (ngSubmit)="onSubmit()">
        
        <div class="seccion-form">
            <span class="titulo-form">Info general del juego:</span>
            <label for="id">Id:
                <input type="text" id="id" formControlName="id" placeholder="Ingrese el id" required />
              </label>
            <label for="name">Nombre:
                <input type="text" id="name" formControlName="name" placeholder="Ingrese el nombre" required />
            </label>
            <label for="price">Precio:
                <input type="text" id="price" formControlName="price" placeholder="Ingrese el precio" required />
            </label>
            <label for="gameType">Tipo de juego:
                <input type="text" id="gameType" formControlName="gameType" placeholder="Ingrese el tipo de juego" required />
            </label>
        </div>

        <div class="seccion-form">
            <span class="titulo-form">Requerimientos del Cpu:</span>
            <label for="memory">Memoria:
                <input type="text" id="memory" formControlName="reqCpu.memory" placeholder="Ingrese la cantidad de memoria" required />
            </label>
            <label for="storage">Almacenamiento:
                <input type="text" id="storage" formControlName="reqCpu.storage" placeholder="Ingrese la cantidad de almacenamiento" required />
            </label>
        </div>

        <div class="seccion-form">
            <span class="titulo-form">Género</span>
            <label for="genre">Nombre:
                <input type="text" id="genreName" formControlName="genre.name" placeholder="Ingrese el nombre" required />
            </label>
            <label for="minAge">Edad mínima:
                <input type="text" id="minAge" formControlName="genre.minAge" placeholder="Ingrese la edad mínima permitida" required />
            </label>
        </div>

        <div>
            <label for="genre">Género:</label>
          </div>
  
    </form>
  
    <ng-content select="[action]"></ng-content>
</div>