#gameForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo-form {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.seccion-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}